* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color: rgb(172, 145, 200);
    --border-color: 1px solid black;
}

nav {
    background-color: var(--color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2 rem;
    font-weight: 700;
}

h1 {
    color: var(--color);
    padding: .5rem;
    border-bottom: .5px solid #000;
}

main {
    max-width: 550px;
}

main img {
    width: 180px;
    height: auto;
    border: var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 1rem 0.2rem 1rem 1rem;
}

p {
    margin: 1rem;
    padding: 0;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 25px;
    left: 80px;
}

footer {
    margin-top: 15px;
    border-top: var(--border-color);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}

header,
footer {
    max-width: 840px;
    margin: 0 auto;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}