* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color: rgb(172, 145, 200);
    --border-color: 1px solid black;
}

nav {
    background-color: var(--color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--color);
    padding: .5rem;
}

main {
    max-width: 550px;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 1rem;
    padding: 0;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 25px;
    left: 80px;
}

footer {
    margin-top: 15px;
    border-top: var(--border-color);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}